@import 'reset';
@import 'base';
@import 'palette';
@import 'components/btn/index';

body {
    padding-top: 50px;
    padding-left: 50px;
}

.row {
    display: flex;
    align-items: flex-end;

    .btn {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: color(3);
            cursor: pointer;
        }
    }
}
