$color-1: #21C2F8;
$color-2: #FFF;
$color-3: #222533;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    padding-left: 50px;
}

.row {
    display: flex;
    align-items: flex-end;

    .btn {
        margin-right: 30px;
        
        &:last-child {
            margin-right: 0px;
        }
    }
}

.btn {
    color: $color-2;
    background-color: $color-1;
    padding: 11px 36.3px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'lato', sans-serif;
    font-weight: 900;
    font-size: 14px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #222533;
    }

    &.medium {
        font-size: 24px;
        padding: 25.5px 65.5px;
    }

    &.large {
        font-size: 26px;
        padding: 23px 93px;
    }

    &.x-large {
        font-size: 36px;
        padding: 27px 102px;
    }
    
    &.round {
        &-3 {
            border-radius: 3px;
        }

        &-7 {
            border-radius: 7px;
        }

        &-12 {
            border-radius: 12px;
        }

        &-20 {
            border-radius: 20px;
        }
    }
}
